<section>
    @if(isLoggedIn){
        <p>Bienvenido {{ username }}</p>
        <img
            (click)="greet()"
            src="https://github.com/AngelPASTORROJAS.png" 
            alt="photo">
    } @else {
        <p>Inicia session</p>
        <button (click)="isLoggedIn=true">Log In</button>
    }
    <app-games
     (addFavoriteEvent)="getFavorite($event)"
     username="{{ username }}"
    /> 

    @if (favGame != '')
    {
        <p>Tu juego favorito es {{ favGame }}</p>
    }
</section>